<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.forum.mapper.ForumMapper">
	
	<!-- 전체 글 리스트 -->
	<select id="forumList" resultType="com.forum.domain.ForumVO">
		SELECT * FROM forum ORDER BY topic_id DESC
	</select>
	
	<!-- 카테고리 글 리스트 -->
	<select id="forumCategoryList" parameterType="String" resultType="com.forum.domain.ForumVO">
		SELECT * FROM forum WHERE category = #{category} ORDER BY topic_id DESC
	</select>
	
	<!-- 검색 글 리스트1 ALL CATEGORY -->
	<!-- Field 값으로 변수가 쓰일 때에는 $ / Parameter가 여러개여서 Map형태로 받음.-->
	<select id="forumSearchList1" parameterType="Map" resultType="com.forum.domain.ForumVO">
	<bind name="search" value="'%'+search+'%'"/>
		SELECT * FROM forum WHERE ${type} LIKE #{search} ORDER BY topic_id DESC
	</select>
	<!-- 검색 글 리스트2 SELECTED CATEGORY -->
	<select id="forumSearchList2" parameterType="Map" resultType="com.forum.domain.ForumVO">
	<bind name="search" value="'%'+search+'%'"/>
		SELECT * FROM forum WHERE category = #{category} AND ${type} LIKE #{search} ORDER BY topic_id DESC
	</select>
	
	<!-- 선택 글 -->
	<select id="forumTopic" resultType="com.forum.domain.ForumVO">
		SELECT * FROM forum WHERE topic_id = #{topic_id}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="addCount" parameterType="int">
		UPDATE forum SET view = view+1 WHERE topic_id = #{topic_id}
	</update>
	
	<!-- Mybatis 동적 쿼리!!! IF STATEMENT -->
	<!--(선택 카테고리별 구분) 이전 글 ID -->
	<select id="getPrev" parameterType="Map" resultType="int">
		SELECT topic_id FROM forum WHERE topic_id &lt; #{topic_id} 
		<if test="category != '' and category != null">
		AND category = #{category}
		</if>
		ORDER BY topic_id DESC LIMIT 1
	</select>
	<!--(선택 카테고리별 구분) 다음 글 ID -->
	<select id="getNext" parameterType="Map" resultType="int">
		SELECT topic_id FROM forum WHERE topic_id &gt; #{topic_id} 
		<if test="category != '' and category != null">
		AND category = #{category}
		</if>
		LIMIT 1
	</select>
	<!--(선택 카테고리별 구분) 전체 글 갯수 -->
	<select id="getTotal" parameterType="Map" resultType = "int">
		SELECT COUNT(*) FROM forum
		<if test="category != '' and category != null">
		WHERE category = #{category}
		</if>
	</select>
	
	<!-- 새로운 글 추가 -->
	<insert id="forumInsert" parameterType="com.forum.domain.ForumVO">
		INSERT INTO forum (category, topic, detail, user_id, email, datetime)
		VALUES(#{category}, #{topic}, #{detail}, #{user_id}, #{email}, now())
	</insert>
	
	<!-- 새로운 글 추가시, 마지막 id값 -->
	<select id="forumNewid" resultType="int">
		SELECT topic_id FROM forum ORDER BY topic_id DESC LIMIT 1
	</select>
	
	<!-- 글 수정 -->
	<update id="forumUpdate" parameterType="com.forum.domain.ForumVO">
		UPDATE forum SET category=#{category}, topic=#{topic}, detail=#{detail} 
		WHERE topic_id=#{topic_id}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="forumDelete" parameterType="int">
	DELETE FROM forum WHERE topic_id = #{topic_id}
	</delete>

</mapper>
